.searchOuter {
    background: #00695c;
    width: 1200px;
    height: 600px;
    border-top: 1px solid #e0f2f1;
}

.searchOuter .searchHeader {
    background: #004d40;
    height: 20%;    
}

#s {
    background: transparent;
    border: 0;
    outline: 0;
    border-bottom: solid 1px;
    border-color: #e0f2f1;
    color: #e0f2f1;
    width: 300px;
    margin-left: 2%;
}

.searchHeader .searchSearch {
    padding: 2% 2% 0% 2%;
}

.searchSearch h4 {
    color: #e0f2f1;
    padding: 0;
    margin: 0;
}

.searchOuter .searchContent {
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
}

.searchContent .searchOutput {
    padding: 2% 2% 0% 2%;
    color: #e0f2f1;
}

.searchOutput ul {
    margin-left: 0;
    padding-left: 0;
}

.searchOutput li {
    list-style-type: none;
}

.searchOutput p {
    cursor: pointer;
}

* {
    font-weight: bold;
    font-family: Verdana;
    font-size: 16px;
}