.profileOuter {
    background: #00695c;
    height: 600px;
    width: 1200px;
    border-top: 1px solid #e0f2f1;
}

.profileOuter .profileHeader {
    background: #004d40;    
    height: 16%;
    padding-bottom: 2%;
}

.profileHeader .profileInfo {
    padding: 1% 0% 3%;
}

.profileInfo h4 {
    margin: 0;
    padding: 0;
    float: left;
    margin-left: 3%;    
}

.profileInfo a {
    text-decoration: none;
    float: right;
    margin-right: 3%;
}

.profileHeader h3 {
    margin: 0;
    padding: 0;
    float: left;
    margin-left: 3%;
}

.profileHeader .button {
    top: 50%;
    background: #4bcaff;
    padding: 1%;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #555;
    border-bottom: 4px solid #277697;
    color: #414042;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 3%;
    cursor: pointer;
}

.profileHeader .button:hover {
    background: #81b81a;
    border-bottom: 4px solid #1B7211;
}

.profileHeader .button:active {
    background: #70a709;
    border-color: #5a7311;
    box-shadow: inset 0 0 5px #666;
}

.profileOuter .profileContent {
    background: #00695c;
    height: 80%;
}

.profileContent .profileData {
    padding: 2% 3% 0% 4%;
}

.profileData label {
    display: block;
    text-align: left;
    padding-bottom: 1%;
}

.profileData .lbl {
    font-size: 13px;
    color:darkgray;
}

.profileData .userInf {
    font-size: 16px;
}

* {
    color: #e0f2f1;
    font-weight: bold;
    font-family: Verdana;
    font-size: 16px;
}