<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/bd2082c3-2539-4c82-a261-bb1016eb9e0a/resourceGroups/batmessenger/providers/Microsoft.Web/sites/batmessenger</ResourceId>
    <ResourceGroup>batmessenger</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://batmessenger.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>batmessenger.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>batmessenger</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$batmessenger</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=sql6003.smarterasp.net;Initial Catalog=DB_A29903_BatMessenger;Integrated Security=False;User ID=DB_A29903_BatMessenger_admin;Password=batmanthebest1" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=sql6003.smarterasp.net;Initial Catalog=DB_A29903_BatMessenger;Integrated Security=False;User ID=DB_A29903_BatMessenger_admin;Password=batmanthebest1" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue=" data source=sql6003.smarterasp.net; Database=DB_A29903_BatMessenger; User ID=DB_A29903_BatMessenger_admin; Password=batmanthebest1;Integrated Security=false;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=sql6003.smarterasp.net;Initial Catalog=DB_A29903_BatMessenger;Integrated Security=False;User ID=DB_A29903_BatMessenger_admin;Password=batmanthebest1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>