.appContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -320px 0 0 -750px;
}

.appContainer .appLeft, .appCenter {   
    display: inline-block;    
}

.appContainer .appLeft {        
    float: left;    
}