.chatListMain {
    background: #00695c;
    width: 300px;
    height: 600px;
    border-right: 1px solid #e0f2f1;
    overflow-y: auto;
    overflow-x: hidden;
}

.chatListMain .chatListChats {
    padding: 2% 4%;    
}

.chatListChats p {
    cursor: pointer;
}

.chatListChats ul {
    margin-left: 0;
    padding-left: 0;
}

.chatListChats li {
    list-style-type: none;
}

* {
    color: #e0f2f1;
    font-weight: bold;
    font-family: Verdana;
    font-size: 16px;
}